Détail de l'activité:
<ul>
<li>Id : {{activity.id}}</li>
<li>Type : {{activity.type}}</li>
<li>Start : {{activity.start}}</li>
<li>End : {{activity.end}}</li>
<li>Nb points : {{activity.trackpoints.length}}</li>
</ul>